@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9933 0.0011 197.139);
  --foreground: oklch(0.3944 0.065 213.1631);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3944 0.065 213.1631);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3944 0.065 213.1631);
  --primary: oklch(0.5421 0.0883 203.0236);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9641 0.0085 197.0154);
  --secondary-foreground: oklch(0.3944 0.065 213.1631);
  --muted: oklch(0.9731 0.0043 197.0868);
  --muted-foreground: oklch(0.5711 0.0627 201.167);
  --accent: oklch(0.9398 0.018 201.1086);
  --accent-foreground: oklch(0.3944 0.065 213.1631);
  --destructive: oklch(0.5958 0.1775 24.2672);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9344 0.0129 202.9191);
  --input: oklch(0.9641 0.0085 197.0154);
  --ring: oklch(0.5899 0.0996 203.6558);
  --chart-1: oklch(0.5899 0.0996 203.6558);
  --chart-2: oklch(0.6715 0.1084 201.9561);
  --chart-3: oklch(0.7395 0.1093 201.1261);
  --chart-4: oklch(0.792 0.0912 200.8225);
  --chart-5: oklch(0.8587 0.0658 202.0361);
  --sidebar: oklch(0.9701 0.0085 197.0164);
  --sidebar-foreground: oklch(0.3944 0.065 213.1631);
  --sidebar-primary: oklch(0.5899 0.0996 203.6558);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9398 0.018 201.1086);
  --sidebar-accent-foreground: oklch(0.3944 0.065 213.1631);
  --sidebar-border: oklch(0.9344 0.0129 202.9191);
  --sidebar-ring: oklch(0.5899 0.0996 203.6558);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Courier New, monospace;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #19828b;
  --shadow-2xs: 1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.07);
  --shadow-sm:
    1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.15),
    1px 1px 2px -1px hsl(184.7368 69.5122% 32.1569% / 0.15);
  --shadow:
    1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.15),
    1px 1px 2px -1px hsl(184.7368 69.5122% 32.1569% / 0.15);
  --shadow-md:
    1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.15),
    1px 2px 4px -1px hsl(184.7368 69.5122% 32.1569% / 0.15);
  --shadow-lg:
    1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.15),
    1px 4px 6px -1px hsl(184.7368 69.5122% 32.1569% / 0.15);
  --shadow-xl:
    1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.15),
    1px 8px 10px -1px hsl(184.7368 69.5122% 32.1569% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(184.7368 69.5122% 32.1569% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2303 0.0291 223.1993);
  --foreground: oklch(0.8623 0.1188 195.1759);
  --card: oklch(0.2376 0.0292 218.7389);
  --card-foreground: oklch(0.8623 0.1188 195.1759);
  --popover: oklch(0.2376 0.0292 218.7389);
  --popover-foreground: oklch(0.8623 0.1188 195.1759);
  --primary: oklch(0.8623 0.1188 195.1759);
  --primary-foreground: oklch(0.2303 0.0291 223.1993);
  --secondary: oklch(0.3949 0.0592 216.9596);
  --secondary-foreground: oklch(0.8623 0.1188 195.1759);
  --muted: oklch(0.3007 0.0435 219.8851);
  --muted-foreground: oklch(0.6962 0.103 195.0475);
  --accent: oklch(0.3949 0.0592 216.9596);
  --accent-foreground: oklch(0.8623 0.1188 195.1759);
  --destructive: oklch(0.6402 0.1925 24.3712);
  --destructive-foreground: oklch(0.9612 0 0);
  --border: oklch(0.3949 0.0592 216.9596);
  --input: oklch(0.3949 0.0592 216.9596);
  --ring: oklch(0.8623 0.1188 195.1759);
  --chart-1: oklch(0.8623 0.1188 195.1759);
  --chart-2: oklch(0.6962 0.103 195.0475);
  --chart-3: oklch(0.6105 0.0898 195.0576);
  --chart-4: oklch(0.4469 0.0662 203.6079);
  --chart-5: oklch(0.3282 0.0479 203.596);
  --sidebar: oklch(0.2303 0.0291 223.1993);
  --sidebar-foreground: oklch(0.8623 0.1188 195.1759);
  --sidebar-primary: oklch(0.8623 0.1188 195.1759);
  --sidebar-primary-foreground: oklch(0.2303 0.0291 223.1993);
  --sidebar-accent: oklch(0.3949 0.0592 216.9596);
  --sidebar-accent-foreground: oklch(0.8623 0.1188 195.1759);
  --sidebar-border: oklch(0.3949 0.0592 216.9596);
  --sidebar-ring: oklch(0.8623 0.1188 195.1759);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #64e4e4;
  --shadow-2xs: 1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.1);
  --shadow-xs: 1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.1);
  --shadow-sm:
    1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.2),
    1px 1px 2px -1px hsl(180 70.3297% 64.3137% / 0.2);
  --shadow:
    1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.2),
    1px 1px 2px -1px hsl(180 70.3297% 64.3137% / 0.2);
  --shadow-md:
    1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.2),
    1px 2px 4px -1px hsl(180 70.3297% 64.3137% / 0.2);
  --shadow-lg:
    1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.2),
    1px 4px 6px -1px hsl(180 70.3297% 64.3137% / 0.2);
  --shadow-xl:
    1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.2),
    1px 8px 10px -1px hsl(180 70.3297% 64.3137% / 0.2);
  --shadow-2xl: 1px 1px 2px 0px hsl(180 70.3297% 64.3137% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
